<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css" />
     
  </head>
  <body>
    <div class="main-content">
          <h1>this is about page</h1>
     {{>header}}
      <img class="portrait por" src="/img/10432.jpg" />
    </div>
    {{>footer}}
   
  </body>
</html>